@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

.article1{
    font-family:'Noto Sans Korean', sans-serif;
    font-size:16px;
    border-bottom: 1px solid #CFCFCF;
    width: auto;
    height: 23px;
}
